.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    width: 80%;
    justify-content: space-evenly;
    align-items: flex-start;
}
.checkoutProdcut_info{
    flex:2 1 20rem;
    padding-left: 20px;

}
.checkoutProduct_image{
    width: 180px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}
.checkoutProdcut_info > button{
    background:#f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.checkoutProdcut_title{
    font-size: 16px;
    font-weight: 800;
}
.checkoutProduct_rating{
    color: #f0c14b;
}